body {
    margin: 0;
}



ul.ul-no-bullet {
    list-style: none;
}

.align-hr {
    text-align: right;
}

.align-hl {
    text-align: left;
}

.align-hc {
    text-align: center;
}

.text-gray {
    color: gray !important;
}

.chat-table {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
    border: 1px solid;
    width: 100%;
}

.chat-bubble {
    padding: 10px;
    position: relative;
}

.bg-target {
    background-color: #5d6fbb;
    background: #5d6fbb;
}

.bg-you {
    background-color: #04AA6D;
    background: #04AA6D;
}


.talk-bubble {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
    display: inline-block;
    position: relative;
    min-width: 100px;
    height: auto;
}

.tri.left-top:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 22px solid;
    border-color: #5d6fbb transparent transparent transparent;
}

.tri.right-top:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: -20px;
    left: auto;
    top: 0px;
    bottom: auto;
    border: 22px solid;
    border-color: #04AA6D transparent transparent transparent;
}

.talktext {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}